.fundo-alimentar{
    background-color:rgb(191, 238, 211);
    padding: 50px;
}
.refeicao{
    box-shadow: 4px 4px 10px gray;
}
.head-refeicao{
    background-color: #B0ACAC;
    padding: 30px;
    font-weight: bold;
}
.body-refeicao{
    padding: 30px;
    font-weight: bold;
}
.opcao{
    background-color:rgb(255, 214, 248);
    padding: 15px;
}