.card-lateral{

    background-color: #27DB8F;
    margin-top: 20px;
    padding: 10px;
    color: #EAEAEA;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
}
.link-lateral:hover{
    text-decoration: none;

}
.titulo{
    color: #27DB8F;

} 
.card-paciente{
    background-color:rgb(234, 234, 234);
    width: 80%;
    box-shadow: 3px 3px 3px gray;
    padding: 20px;
    color: black;

}
.link-hover:hover{
    text-decoration: none;
}
.foto-perfil{
        text-align: center;
} 
.dados{
    font-weight: bold;
}
.descricao{
    margin-left: -12%;
} 

@media (max-width: 1300px)

@media print {
    .btn { display: none; } /* Ocultar botões na impressão */
}

.body {
    max-width: 100%;
    overflow-x: hidden;
}

.footer-print {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta a altura para ocupar toda a tela */
}

.assinatura {
    text-align: center; /* Centraliza o texto dentro da assinatura */
}