{% extends 'base_plataforma.html' %}
{% load static %}
{% block 'plataforma' %}
    <div class="container mt-4">
        <h2 class="mb-4">Selecionar Evoluções para Impressão</h2>
        
        <form method="post" action="{% url 'imprimir_evolucoes' paciente.id %}"> {% csrf_token %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <input type="checkbox" id="select-all">
                        </th>
                        <th>Data do Registro</th>
                        <th>Titulo</th>
                        <th>Evolução</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evolucao in evolucoes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="evolucoes" value="{{ evolucao.id }}">
                            </td>
                            <td>{{ evolucao.data_criacao|date:"d/m/Y" }}</td>
                            <td>{{ evolucao.titulo }}</td>
                            <td>{{ evolucao.evolucao}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">Nenhuma evolução registrada para este paciente.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">
                    🖨️ Imprimir Selecionadas!
                </button>
            </div>
        </form>
    </div>

    <script>
        // Marcar ou desmarcar todos os checkboxes
        document.addEventListener("DOMContentLoaded", function () {
            const selectAll = document.getElementById("select-all");
            const checkboxes = document.querySelectorAll('input[name="evolucoes"]');

            selectAll.addEventListener("change", function () {
                checkboxes.forEach(cb => cb.checked = this.checked);
            });
        });
    </script>
{% endblock %}
